@model YachtLib.Schiff

@{
    ViewBag.Title = "Schiffdetails";
}

<h2>Hier sehen Sie alle Details ihres Bootes. Sollten Ihnen Fehler auffallen, setzten Sie sich bitte mit uns in Verbindung.</h2>

<div>
    <h4>Schiff</h4>
    <hr />
    @if (ViewBag.Admin == true)
    {
        <li>@Html.ActionLink("Meine Seite", "Admin", "Home")</li>
    }
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Typ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Typ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Laenge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Laenge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Baujahr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baujahr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Schiffsname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Schiffsname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Basis.Ort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Basis.Ort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Anpassen", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Zurück zur Übersicht", "Index")
</p>
